* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
}

.logo img {
    height: 50px;
    margin-left: 4rem;
}

li {
    margin: 0rem 3rem;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link {
    transition: all 1s ease;
}

.nav-link:hover {
    transition: all 1s ease;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
}

ol {
    display: flex;
}

.Inicio {
    padding-top: 80px;
}

.ImagenesRedes {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.ImagenesRedes p {
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-right: 2rem;
    margin-top: 15px;
}

.ImagenesRedes img {
    width: 20px;
    padding: 1rem 0;
    margin: 0 1rem;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FotosDeElementos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr fr;
}

.FotosDeElementos img {
    transition: all 1s ease;
}

.FotosDeElementos img:hover {
    transition: all 1s ease;
    width: 1000px;
}

section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
}

section img {
    width: 300px;
    margin: 0 50px;
    padding: 25px;
}

main h1 {
    margin-bottom: 100px;
}

.formulario {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input {
    width: 40%;
    height: 25px;
    margin: 10px 0;
}

.formulario textarea {
    width: 40%;
    height: 25px;
    margin: 10px 0;
    min-width: 40%;
    max-width: 40%;
    min-height: 150px;
    max-height: 300px;
}

.formulario .boton {
    width: 100px;
    color: black;
}

.formulario .boton:hover {
    transition: all 1s ease;
    background-color: black;
    color: white;
}

@media screen and (max-width:800px) {
    .FotosDeElementos {
        display: flex
        flex-direction: column
    }
}